{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <div style="text-align: center" class="form">
        <form action="/" method="POST">
            {{form.hidden_tag()}}
            {{form.username.label(class="form-control-label")}}
            {{form.username(class="form-control form-control-lg")}}
            {{form.password.label(class="form-control-label")}}
            {{form.password(class="form-control form-control-lg")}}
            {{form.login(class="btn btn-outline-info")}}
        </form>
    </div>
    <style>
      body {
        background-image: url(https://source.unsplash.com/1400x1200/?cat);
        background-repeat: repeat;
        background-attachment: ;

        border: 2px solid #000000;

          height: 100%;

          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;



      }
    </style>
    <h1>Sign In</h1>
    <h4></h4>

</div>
{% endblock %}
