{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="form" >

    <style>
      body {
        background-image: url(https://source.unsplash.com/1400x1200/?cat);
        background-repeat: repeat;
        background-attachment: ;
        background-position: right;
        border: 2px solid #000000;

      }
    </style>
        <table>


            <h3>
               <form action="/requestNewCert/{{credentials["uid"]}}" method="POST">
                   <input type="submit" value="Request New Certificate">
                </form>
            </h3>
            <h3>
                       <form action={{"/downloadCrl/" + credentials["uid"]}} method="POST">
                    <input type="submit" value="DownloadCrl">
                </form>
            </h3>

            <h3>
                <form  action={{"/logout/" + credentials["uid"]}} method="POST">
                    <input type="submit" value="Log Out">
                </form>
            </h3>

        </table>


    </div>

    </div>
    <h1>About me </h1>
    <div class="userCredentials">
        <table>
            <tbody>
                <tr>
                <td>User Name</td>
                <td>{{ credentials["uid"]}}</td>

                <td>

                </td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{ credentials["lastname"]}}</td>

                    <form action={{"/updateLastName/"+ credentials["uid"]}} method="POST">
                        <td>
                              <input type="text" name="newLastName" id="newLastName", placeholder="my new last name">
                        </td>
                        <td>
                             <input type="submit" value="update">
                        </td>


                    </form>

              </tr>
              <tr>
                <td>First Name</td>
                <td>{{ credentials["firstname"]}}</td>

                    <form action={{"/updateFirstName/"+ credentials["uid"]}} method="POST">
                        <td>
                            <input type="text" name="newFirstName" id="newFirstName", placeholder="my new first name">
                        </td>
                        <td>
                             <input type="submit" value="update">
                        </td>


                    </form>

                <td>
                </td>
              </tr>
              <tr>
                <td>email</td>
                <td>{{ credentials["email"]}}</td>

                    <form  action={{"/updateEmail/"+ credentials["uid"]}} method="POST">
                        <td>
                            <input type="text" name="newEmail" id="newEmail", placeholder="my new email">
                        </td>
                        <td>
                            <input type="submit" value="update">
                        </td>


                    </form>


              </tr>
              <tr>
                <td>Password</td>

                  <form action="/updatePassword/{{credentials["uid"]}}" method="POST">
                    <td>

                        <input type="password" name="currentPassword" id="currentPassword", placeholder="my current password">
                    </td>

                    <td>
                      <input type="password" name="newPassword0" id="newPassword0", placeholder="my new password">
                    </td>
                      <td>
                          <input type="password" name="newPassword1" id="newPassword1", placeholder="my new password">
                      </td>
                      <td>
                        <input type="submit" value="update">
                     </td>
                  </form>
              </tr>
            </tbody>
        </table>
    </div>



    <div class=".myCert">
        <h1>My Certificates </h1>
        <table>

            {%for cert in certs["certs"] %}
                <tr>
                    <td>
                        {{cert[0]}}

                    </td>
                    <td>
     {{cert[1]}}
                    <td>


                        <form  action="/revokeCert/{{credentials["uid"]}}${{cert[1]}}" method="POST">
                            <input type="submit" value="Revoke">
                        </form>

                    </td>
                </tr>
            {%endfor%}
        </table>

    </div>
{% endblock %}
